<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VERIFICATION</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/auth/style.css}" type="text/css">
    <link rel="icon" th:href="@{/img/spreadsheet_17087859.png}" type="image/png">
</head>
<body>
<th:block th:if="${errorMessage != null || error != null}">
    <div id="popup-failed-register" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">NHẮC NHỞ</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:if="${errorMessage != null}" th:text="${errorMessage}"></p>
                    <p th:if="${error != null}" th:text="${error.detail}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<div class="modal fade" id="popup" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">NHẮC NHỞ</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Vui lòng điền chính xác và đầy đủ thông tin!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="background-custom">
    <div class="box-custom forgot">
        <h2>Điền email để xác thực tài khoản của bạn!</h2>
        <form class="m-3" th:method="POST" th:action="@{/auth/forgotPassword}">
            <input id="email" th:value="${email}" type="email" class="field-custom mb-3" placeholder="Nhập địa chỉ email">
            <div id="message-email" class="popover"></div>
            <th:block th:if="${timer != null}">
                <div id="timer-resend"></div>
            </th:block>
            <button id="btn-sendMail" type="submit">Gửi</button>
        </form>
        <a th:method="GET" th:href="@{/auth/register}">Bạn chưa có tài khoản? Tạo tài khoản!</a>
        <a th:method="GET" th:href="@{/auth/login}">Bạn đã có tài khoản? Đăng nhập!</a>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/auth/action.js}"></script>
<script type="text/javascript" th:src="@{/js/auth/valid.js}"></script>
<script type="text/javascript">
    const timeString = '[[${timer}]]';

    window.onload = function() {
        countDown();
    };

    function countDown() {
        let time = +timeString;
        const timeView = document.getElementById("timer-resend");
        const btn = document.getElementById("btn-sendMail");

        const interval = setInterval(function() {
            if (timeView != null) {
                if (time > 0) {
                    timeView.innerHTML = `<p style="text-align: center; color: red">${renderTime(time)}</p>`;
                    time--;
                    btn.type = "button";
                } else {
                    clearInterval(interval);
                    timeView.innerHTML = `<p style="text-align: center; color: red">Bạn chưa nhận được email?<p>`;
                    btn.type = "submit";
                    btn.textContent = "Gửi lại";
                }
            }
        }, 1000);
    }

    function renderTime(second) {
        const m = Math.floor(second / 60);
        const s = second % 60;
        return (m < 10 ? `0${m}` : `${m}`) + " : " + (s < 10 ? `0${s}` : `${s}`);
    }
</script>
</body>
</html>