<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Budgeting Service</title>

    <!-- Custom fonts and styles -->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/auth/style.css}" type="text/css">
</head>

<body id="page-top">
<div id="wrapper">
    <div th:replace="~{tab_bar :: tab-bar}"></div>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:replace="~{header :: header}"></div>
            <th:block th:replace="~{/user/fragmentUser :: errorPopup}"></th:block>
            <div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
                <div class="card shadow mb-4" style="width: 50%;">
                    <div class="card-header py-3 text-center">
                        <h6 class="m-0 font-weight-bold text-primary" style="font-size: 1.5rem;">
                            Khởi tạo người dùng mới
                        </h6>
                    </div>
                    <div class="card-body">
                        <form id="createUserForm" th:action="@{/user/add-user-by-admin}" th:object="${newUser}" method="POST">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label font-weight-bold" for="username">Tên người dùng</label>
                                    <input type="text" th:field="*{username}" class="form-control border-primary" id="username">
                                </div>
                            </div>

                            <div class="row">
                                <th:block th:replace="~{/user/fragmentUser :: inputFristAndLastName}"></th:block>
                                <div class="col-md-6 mb-3">
                                    <label for="email" class="form-label font-weight-bold">Địa chỉ Email</label>
                                    <input id="email" type="email" class="form-control border-primary" th:field="*{email}">
                                    <div id="message-email" class="popover"></div>
                                    <div th:if="${duplicateEmail}" class="text-danger">
                                        <p th:text="${duplicateEmail}"></p>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="phone" class="form-label font-weight-bold">Số điện thoại</label>
                                    <input id="phone" type="text" class="form-control border-primary" th:field="*{phone}">
                                    <div id="message-phone" class="popover"></div>
                                    <div th:if="${duplicatePhone}" class="text-danger">
                                        <p th:text="${duplicatePhone}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="vaitro" class="form-label font-weight-bold">Vai trò</label>
                                    <select id="vaitro" class="form-select border-primary" th:field="*{role}" required>
                                        <option value="ADMIN">Quản trị viên</option>
                                        <option value="USER">Người dùng</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="trangthai" class="form-label font-weight-bold">Trạng thái tài khoản</label>
                                    <select id="trangthai" class="form-select border-primary" th:field="*{status}" required>
                                        <option value="ACTIVE">Hoạt động</option>
                                        <option value="INACTIVE">Không hoạt động</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="password-register" class="form-label font-weight-bold">Mật khẩu</label>
                                    <div class="input-group">
                                        <input type="password" th:field="*{password}" class="form-control border-primary" id="password-register" name="password">
                                        <div id="message-password-register" class="popover"></div>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="re-password-register" class="form-label font-weight-bold">Nhập lại mật khẩu</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control border-primary" id="re-password-register" name="confirmPassword">
                                        <div id="message-re-password-register" class="popover"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit" id="submit-button-register-by-admin" class="btn btn-success me-4">Khởi tạo</button>
                                <button type="reset" class="btn btn-secondary me-4">Hủy bỏ</button>
                                <button type="button" class="btn btn-primary me-4" onclick="history.back()">Trở lại</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{footer :: footer}"></div>
    </div>
</div>
<div th:replace="~{/user/fragmentUser :: scripts}"></div>
</body>
</html>