<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Budgeting Service</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{tab_bar :: tab-bar}"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{header :: header}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary text-center">Chỉnh sửa thông tin</h6>
                            </div>
                            <div class="card-body">
                                <form id="editUserForm" th:action="@{/user/edit-infor}" th:object="${userInfor}" method="POST">
                                    <input type="hidden" th:field="*{id}">

                                    <!-- Username field -->
                                    <div class="mb-3">
                                        <label>Username</label>
                                        <input type="text" class="form-control" th:field="*{username}" placeholder="Vui lòng nhập tên người dùng">
                                    </div>

                                    <!-- First Name field -->
                                    <div class="mb-3">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" th:field="*{firstname}" placeholder="Vui lòng nhập họ">
                                    </div>

                                    <!-- Last Name field -->
                                    <div class="mb-3">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" th:field="*{lastname}" placeholder="Vui lòng nhập tên">
                                    </div>

                                    <!-- Email field -->
                                    <div class="mb-3">
                                        <label>Email</label>
                                        <input type="email" class="form-control" th:field="*{email}" placeholder="Vui lòng nhập email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label label-custom">Mật khẩu</label>
                                        <input type="password" th:field="*{password}" class="form-control" id="password">
                                    </div>
                                    <div class="mb-3">
                                        <label for="confirmPassword" class="form-label label-custom">Nhập lại mật khẩu</label>
                                        <input type="password" class="form-control" id="confirmPassword">
                                        <small id="passwordError" class="text-danger" style="display: none;">Mật khẩu không khớp!</small>
                                    </div>

                                    <!-- Phone field -->
                                    <div class="mb-3">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" th:field="*{phone}" placeholder="Vui lòng nhập số điện thoại">
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="~{footer :: footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn thoát?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                <a class="btn btn-primary" href="login.html">Đăng xuất</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}" type="application/javascript"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" type="application/javascript"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}" type="application/javascript"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}" type="application/javascript"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}" type="application/javascript"></script>
<script th:src="@{/js/demo/chart-area-demo.js}" type="application/javascript"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}" type="application/javascript"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}" type="application/javascript"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}" type="application/javascript"></script>
<script>
    const password = document.getElementById('password');
    const confirmPassword = document.getElementById('confirmPassword');
    const passwordError = document.getElementById('passwordError');
    const editUserForm = document.getElementById('editUserForm');

    function checkPasswordMatch() {
        if (password.value !== confirmPassword.value) {
            confirmPassword.classList.add('is-invalid');
            passwordError.style.display = 'block';
        } else {
            confirmPassword.classList.remove('is-invalid');
            passwordError.style.display = 'none';
        }
    }

    confirmPassword.addEventListener('input', checkPasswordMatch);
    password.addEventListener('input', checkPasswordMatch);

    editUserForm.addEventListener('submit', function(event) {
        if (password.value !== confirmPassword.value) {
            event.preventDefault();
            passwordError.style.display = 'block';
        }
    });
</script>
</body>

</html>
