<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragment</title>
<body>
<div th:fragment="errorPopup">
    <div class="modal fade" id="popup" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">NHẮC NHỞ</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Vui lòng điền chính xác và đầy đủ thông tin!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="scripts">
    <script th:src="@{/vendor/jquery/jquery.min.js}" type="application/javascript"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/user/user.js}" type="application/javascript"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/auth/action.js}"></script>
    <script type="text/javascript" th:src="@{/js/auth/valid.js}"></script>
</div>

<th:block th:fragment="inputFristAndLastName">
    <div class="col-md-6 mb-3">
        <label for="firstname" class="fw-bold">Họ</label>
        <input id="firstname" type="text" class="form-control border-primary" th:field="*{firstname}">
        <div id="message-firstname" class="popover"></div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="lastname" class="fw-bold">Tên</label>
        <input id="lastname" type="text" class="form-control border-primary" th:field="*{lastname}">
        <div id="message-lastname" class="popover"></div>
    </div>
</th:block>
</body>
</html>