.background-custom {
    background-color: #486EDB;
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-custom {
    background-color: white;
    border-radius: 30px;
    width: 70%;
    height: 70%;
    min-height: 200px;
    min-width: 700px;
    overflow: hidden;
    box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.3);
}

.col-custom {
    width: 55%;
    height: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.input-custom, .btn-login {
    font-size: small;
    height: 60px;
    width: 100%;
    border-radius: 30px;
    margin: 5% 0;
}

::placeholder {
    color: gray;
}

.remember {
    color: grey;
    font-size: small;
}

.btn-login {
    background-color: #4E73DF;
    color: white;
    border: none;
    margin-top: 2%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #4E73DF;
    transform: scale(0.9);
}

.btn-login:active {
    background-color: #3b64e0;
}

.cover-form {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c5cdf;
    padding: 8% 2%;
    width: 45%;
    height: 100%;
    border: 20px solid white;
    transition: transform 0.5s ease-in-out;
}

.border-login, .border-register {
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
}

.border-login {
    border-top-right-radius: 200px 30%;
    border-bottom-right-radius: 200px 30%;
}

.border-register {
    border-top-left-radius: 200px 30%;
    border-bottom-left-radius: 200px 30%;
}

.slide-out-left, .slide-out-right, .slide-in-left, .slide-in-right {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-out-left, .slide-out-right {
    opacity: 0;
}

.slide-out-left {
    transform: translateX(-50%);
}

.slide-out-right {
    transform: translateX(50%);
}

.slide-in-left, .slide-in-right {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

ul.custom-list {
    padding: 0;
    margin: 0;
    margin-top: 5%;
    text-align: left;
}

.valid, .inValid {
    text-align: left;
    position: relative;
}

.valid {
    color: rgb(0, 255, 0); /* Màu của dấu checkmark */
}

.inValid {
    color: rgb(255, 0, 0); /* Màu của dấu checkmark */
}
