<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Budgeting Service</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this page -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar from fragment -->
    <div th:replace="~{tab_bar :: tab-bar}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Header from fragment -->
            <div th:replace="~{header :: header}"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Tổng quan</h1>
                    <!--                    <div sec:authorize="hasRole('ROLE_USER')">Text visible to user.</div>-->
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <label for="users">Chọn 1 người dùng:</label>

                        <select id="users">
                            <option th:value="${#authentication.principal.username}">Mặc định</option>
                            <option th:each="user:${users}" th:value="${user.email}"
                                    th:text="${user.email}"></option>
                        </select>
                    </div>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                       data-toggle="modal" data-target="#createIncomeAndExpensesModal"><i
                            class="fas fa-download fa-sm text-white-50"></i> Tạo chi / thu</a>
                </div>

                <!-- Content Row -->
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="row">

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Thu nhập (Tháng Này)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${statistic.getTotalThisMonth()} + ' VNĐ'"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-inbox fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Thu nhập (Năm nay)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${statistic.getTotalThisYear()} + ' VNĐ'"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Tổng chi (Tháng này)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${statistic.getTotalInputThisYear()} + ' VNĐ'"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Tổng nợ (Tháng này)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">0 VNĐ</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Content Row -->

                <div class="row">
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Giao dịch Thu / Chi</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="transactionTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Ngày giao dịch</th>
                                    <th>ID</th>
                                    <th>Danh mục</th>
                                    <th>Loại (Thu/Chi)</th>
                                    <th>Số tiền</th>
                                    <th>Ghi chú</th>
                                    <th>Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="~{footer :: footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel0">Bạn có muốn thoát?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                <a class="btn btn-primary" href="login.html">Đăng xuất</a>
            </div>
        </div>
    </div>
</div>

<!-- Income and expenses Modal-->
<div class="modal fade" id="createIncomeAndExpensesModal" tabindex="-1" role="dialog"
     aria-labelledby="createIncomeAndExpensesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo thu/chi</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="addOrUpdateTransaction" th:object="${request}" th:action="@{/transaction/create}"
                  method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputAmount">Nhập số tiền</label>
                        <input th:field="*{amount}" type="text" class="form-control" id="inputAmount"
                               aria-describedby="emailHelp"
                               placeholder="10,000,000.00">
                        <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label for="currency">Loại tiền</label>
                        <div class="form-check" id="currency">
                            <input th:field="*{transactionType}" class="form-check-input" type="radio"
                                   name="exampleRadios" id="exampleRadios1"
                                   value="IN" th:checked="true">
                            <label class="form-check-label" for="exampleRadios1">
                                <i class="fas fa-arrow-right text-success"></i> Thu
                            </label>
                        </div>
                        <div class="form-check">
                            <input th:field="*{transactionType}" class="form-check-input" type="radio"
                                   name="exampleRadios" id="exampleRadios2"
                                   value="OUT">
                            <label class="form-check-label" for="exampleRadios2">
                                <i class="fas fa-arrow-left text-warning"></i> Chi
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCategory">Danh mục</label>
                        <select id="inputCategory" class="form-control" th:field="*{category}">
                            <!--<option selected>Tiền lương</option>-->
                            <!--<option>Sinh nhật</option>-->
                            <option th:each="category:${categories}" th:value="${category.id}"
                                    th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputDatetime">Chọn thời gian</label>
                        <input th:field="*{createdAt}" type="datetime-local" class="form-control" id="inputDatetime"
                               placeholder="dd-mm-yyyy"
                               min="1997-01-01" max="2030-12-31">
                        <span th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}"
                              class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <button class="btn btn-primary" href="login.html">Gửi</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}" type="application/javascript"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" type="application/javascript"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}" type="application/javascript"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}" type="application/javascript"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}" type="application/javascript"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}" type="application/javascript"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" th:inline="javascript">
    const installTable = (id, url, cols) => {
        return $(`#${id}`).DataTable({
            "language": {
                "search": "Tìm kiếm:",
                "sLengthMenu": "Hiển thị _MENU_ bản ghi",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên _TOTAL_ bản ghi",
                "emptyTable": "Không có bản ghi nào có sẵn",
                "paginate": {
                    "previous": "<",
                    "first": "<<",
                    "next": ">",
                    "last": ">>"
                }
            },
            "destroy": true,
            "serverSide": true,
            "order": [1, "desc"],
            "ajax": {
                "url": url,
                "type": "POST",
                "contentType": "application/json",
                "data": function (d) {
                    d['order'].forEach(function (items, index) {
                        d['order'][index]['colName'] = d['columns'][items.column]['data'];
                    });
                    return JSON.stringify(d);
                }
            },
            columns: cols
        });
    };

    const cols1 = [
        {"data": "createdAt"},
        {"data": "id"},
        {"data": "category"},
        {
            "data": "transactionType",
            "render": function (data, type, row, meta) {
                return row.transactionType === 'IN' ? 'THU' : 'CHI';
            }
        },
        {"data": "amount"},
        {"data": "note"},
        {
            "data": null,
            "defaultContent": "<button class=\"btn btn-outline-danger\" data-toggle='modal' data-target='#createIncomeAndExpensesModal'><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" class=\"bi bi-pencil-square\" viewBox=\"0 0 16 16\">\n" +
                "  <path d=\"M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z\"/>\n" +
                "  <path fill-rule=\"evenodd\" d=\"M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z\"/>\n" +
                "</svg></button>"
        }
    ];

    const cols2 = [
        {"data": "createdAt"},
        {"data": "id"},
        {"data": "category"},
        {
            "data": "transactionType",
            "render": function (data, type, row, meta) {
                return row.transactionType === 'IN' ? 'THU' : 'CHI';
            }
        },
        {"data": "amount"},
        {"data": "note"},
        {"data": null, "defaultContent": ""}
    ];

    let table;

    $(document).ready(function () {
        var currentUserName = [[${#authentication.principal.username}]];
        table = installTable('transactionTable', `/sun/transaction/page/${currentUserName}`, cols1)
    })

    if ($('#users').length == 0) {
        table = installTable('transactionTable', '/sun/transaction/page/null', cols1)
    } else {
        $('#users').on('change', function () {
            const user = $('#users option:selected').val();
            table = installTable('transactionTable', `/sun/transaction/page/${user}`, cols1)
        })
    }

    $('#createIncomeAndExpensesModal').on('hidden.bs.modal', function () {
        $('#inputAmount').val('')
        $('#inputCategory').val('')
        $('#inputDatetime').val('')
    })

    $('#transactionTable tbody').on('click', 'tr', function () {
        console.log(table.row(this).data());
        const data = table.row(this).data();
        const amount = $(`#inputAmount`).val(data.amount);

        if (data.transactionType === `IN`) {
            $(`#exampleRadios1`).prop("checked", true);
        } else {
            $(`#exampleRadios2`).prop("checked", true);
        }

        $(`#inputCategory option`).each(function (i, obj) {
            if (obj.text === data.category) {
                obj.selected = true;
            }
        })
        $('#inputDatetime').val(data.createdAt.slice(0, data.createdAt.length - 3));
        $('#addOrUpdateTransaction').attr('action', `/sun/transaction/update/${data.id}`);
    });

    // $('#inputAmount').on('input', function () {
    //     let input = $(this).val();
    //     let ignoreComma = input.replaceAll(',', '');
    //     let convertToNumber = ignoreComma.includes('.') ? ignoreComma.substring(0, ignoreComma.indexOf('.')) : ignoreComma;
    //     let afterDecimalPoint = input.includes('.') ? input.substring(input.indexOf('.'), input.length) : '';
    //     console.log(afterDecimalPoint)
    //     let curCursor = this.selectionStart;
    //     $(this).val(Number(convertToNumber).toLocaleString() + afterDecimalPoint);
    //     this.selectionStart = curCursor;
    //     this.selectionEnd = curCursor;
    //     console.log(this.selectionStart + "," + this.selectionEnd)
    // })


</script>
</body>

</html>