<!-- templates/footer.html -->
<div th:fragment="footer">
    <footer class="bg-light text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-7 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-danger">Budgeting service</h5>
                    <p class="text-danger-emphasis">
                        A mini project
                    </p>
                </div>
                <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://github.com/khanhduzz/sun-rise" class="text-secondary">Sun rise</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://github.com/khanhduzz/sun-rise" class="text-secondary">Sun rise</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Author:
            <a class="text-dark" href="https://github.com/khanhduzz/sun-rise">Sun rise</a>
        </div>
    </footer>
</div>
