<!-- employee/header.html -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Information</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow" sec:authorize="isAuthenticated()">
                <a class="btn nav-link dropdown-toggle" href="#" id="userDropdown"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   onkeydown="">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" sec:authentication="name"></span>
                    <div sec:authorize="isAuthenticated()">
                        <img alt="profile" class="img-profile rounded-circle" th:src="@{/medias/media/user}">
                    </div>
                </a>
                <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <a class="dropdown-item" th:href="@{/user/edit-infor}">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Tài khoản
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Đăng xuất
                        </a>
                    </div>
            </li>
            <!-- Login Button for unauthenticated users -->
            <li class="nav-item dropdown no-arrow" sec:authorize="!isAuthenticated()">
                <a class="btn btn-outline-info mr-2 d-none d-lg-inline text-gray-600 small"
                   th:href="@{/auth/login}">Login</a>
            </li>
        </ul>
    </nav>
</header>
<!-- Content Section -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<dialog class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <dialog class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn thoát?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                <a class="btn btn-primary" href="login.html">Đăng xuất</a>
            </div>
        </div>
    </dialog>
</dialog>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}" type="application/javascript"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" type="application/javascript"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}" type="application/javascript"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}" type="application/javascript"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}" type="application/javascript"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}" type="application/javascript"></script>
</body>
</html>
