<section layout:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorate="~{layout.html}">
    <div class="w-100">
        <div class="d-flex flex-column justify-content-center align-items-center py-5 bg-info text-white">
            <h1 class="display-4 mb-4">Welcome to the Sunrise</h1>
            <p class="lead mb-4">This is a budgeting service system, for manage your money, bill,...</p>
        </div>
        <div class="vh-25">
            <a th:href="@{/v2/home}" class="btn btn-outline-info btn-lg mt-2">Homepage</a>
        </div>
    </div>
</section>
