<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgeting Service</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div>
    <!--popup-->
    <th:block th:if="${errorMessage != null}">
        <div>ERROR</div>
    </th:block>

    <!-- Main Content -->
    <div>
        <div>
            <h3>ĐĂNG KÝ</h3>
            <form th:method="POST" th:href="@{/auth/register}" th:object="${register}">
                <div class="row">
                    <!-- Left Column -->
                    <div class="col">
                        <input type="text" maxlength="200" th:field="*{lastname}" id="lastname" placeholder="Vui lòng nhập tên" data-bs-target="#validLastname"/>
                        <input type="text" maxlength="250" th:field="*{email}" id="email" placeholder="Địa chỉ Email" data-bs-target="#validEmail">
                        <input type="password" maxlength="200" th:field="*{password}" id="password-register" placeholder="Mật khẩu" data-bs-target="#validPassword">
                    </div>
                    <!-- Right Column -->
                    <div class="col">
                        <input type="text" maxlength="200" th:field="*{firstname}" id="firstname" placeholder="Vui lòng nhập họ" data-bs-target="#validFirstname">
                        <input type="text" maxlength="12" th:field="*{phone}" id="phone" placeholder="Số điện thoại" data-bs-target="#validPhone">
                        <input type="password" th:field="*{rePassword}" id="re-password-register" placeholder="Nhập lại mật khẩu" data-bs-target="#validRePassword">
                    </div>
                </div>
                <button type="submit" id="button-register">Đăng ký</button>
            </form>
        </div>

        <div>
            <h3>ĐĂNG NHẬP</h3>
            <form th:method="POST" th:href="@{/auth/login}" th:object="${login}">
                <input type="text" maxlength="200" th:field="*{username}" id="username" placeholder="Nhập email hoặc số điện thoại">
                <input type="password" maxlength="200" th:field="*{password}" id="passwordLogin" placeholder="Nhập mật khẩu">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="remember-me">
                    <label class="form-check-label remember" for="remember-me">Ghi nhớ đăng nhập</label>
                </div>
                <button type="submit">Đăng nhập</button>
            </form>
        </div>
    </div>


    <script defer type="text/javascript" th:src="@{/js/action.js}"></script>
    <script defer type="text/javascript" th:src="@{/js/valid.js}"></script>
    <script async type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>